* {
  box-sizing: border-box;
}

/* =========
   VARIABLES
   ========= */

:root {
  --bg-color-1: white;
  --bg-color-2: #0891b2;
  --text-color-light: white;
  --text-color-dark: black;
  --box-shadow-color: #AAAAAA;
  --font-size: 1.1rem;
  --font-size-h3: 1.5rem;
  --sml: 1.5rem;
  --med: 2rem;
  --lg: 2.5rem;
  --x-lg: 3rem;
}

/* ===========================
   BACKGROUNDS, MARGINS, FONTS
   =========================== */

body {
  background-color: var(--bg-color-1);
  margin: 0 auto;
  max-width: 1280px;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
}

p {
  line-height: 1.6rem;
}


h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
}

h3 {
  font-size: var(--font-size-h3);
}

header {
  background-image: linear-gradient(168deg, var(--bg-color-2) 60%, var(--bg-color-1) calc(60% + 2px))
}

/* =====
   ICONS
   ===== */

.icon-sml {
  width: var(--sml);
  height: var(--sml);
}

.icon-med {
  width: var(--med);
  height: var(--med);
}

.icon-lg {
  width: var(--lg);
  height: var(--lg);
}

/* ======
   HEADER
   ====== */

header {
  padding: 3em;
}

.header>img {
  border: solid red;
  width: 50%;
  float: left;
  margin: 1rem;
}

.text h1 {
  text-align: center;
  color: white;
  transform: translateY(-5rem);
}

.header .image img {
  width: 60%;
  float: left;
  margin: 0 -2.5rem -5rem 0;
  transform: translate(-3rem, -5rem);
}

.header .text h2 {
  text-align: center;
}

.header {
  background: var(--bg-color-1);
  box-shadow: 0 0 8px var(--box-shadow-color);
  margin: 2rem 0;
  padding: 1rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}

.header--links {
  display: flex;
  justify-content: right;
  gap: 1rem;
}