* {
  box-sizing: border-box;
}

/* =========
   VARIABLES
   ========= */

:root {
  --bg-color-1: white;
  --bg-color-2: #0891b2;
  --text-color-light: white;
  --text-color-dark: black;
  --box-shadow-color: #AAAAAA;
  --font-size: 1.1rem;
  --font-size-h3: 1.5rem;
  --sml: 1.5rem;
  --med: 2rem;
  --lg: 2.5rem;
  --x-lg: 3rem;
}

/* ===========================
   BACKGROUNDS, MARGINS, FONTS
   =========================== */

body {
  background-color: var(--bg-color-1);
  margin: 0 auto;
  max-width: 1280px;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
}

p {
  line-height: 1.6rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
}

h3 {
  font-size: var(--font-size-h3);
}

header {
  background-image: linear-gradient(168deg, var(--bg-color-2) 60%, var(--bg-color-1) calc(60% + 2px))
}

footer {
  background-color: var(--bg-color-2);
}

/* =====
   ICONS
   ===== */

.icon-sml {
  width: var(--sml);
  height: var(--sml);
}

.icon-med {
  width: var(--med);
  height: var(--med);
}

.icon-lg {
  width: var(--lg);
  height: var(--lg);
}

/* ======
   HEADER
   ====== */

.header--container {
  display: flex;
  align-items: center;
  padding: var(--x-lg);
}

.header--image {
  position: relative;
  text-align: center;
  flex: 1
}

.header--image img {
  width: 100%;
  min-height: 350px;
  object-fit: cover;
}

.header--image h1 {
  margin: 0;
  color: var(--text-color-light);
  width: 100%;
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.header--card {
  flex: 1;
  background: var(--bg-color-1);
  box-shadow: 0 0 8px var(--box-shadow-color);
  margin: 2rem 0;
  padding: 1rem;
}

.header--links {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

/* ===============
   MAIN / PROJECTS
   =============== */

main {
  background-color: var(--bg-color-1);
  padding: 0em 3em;
}

.projects {
  padding: 1rem 1rem 3rem 1rem;
  resize: both;
  overflow: auto;
  display: grid;
  gap: 2em;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  box-shadow: 0 0 8px var(--box-shadow-color);
}

.card img {
  max-width: 100%;
}

.card--text {
  padding: 2rem;
}

.card--header {
  display: flex;
  justify-content: space-between;
}

.card--links {
  display: flex;
  gap: 0.5rem;
}

/* ======
   FOOTER
   ====== */

footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 3em;
  margin: 0 0;
  color: var(--bg-color-1);
}

.footer--link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer--link>p {
  margin: 0.4rem 0;
}

.footer--links {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.footer--image>img {
  width: 100%;
  min-height: 350px;
  object-fit: cover;
}

.profile_2 {
  max-width: 30rem;
}

/* =============
   MEDIA QUERIES 
   ============= */

@media (max-width: 600px) {

  .header--container,
  footer {
    flex-direction: column;
  }

  .projects {
    padding: 1rem 0.2rem 3rem 0.2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card--text {
    padding: 2rem 2rem 0 2rem;
  }

  .footer--text>h2 {
    text-align: center;
  }

  .footer--links {
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  header {
    padding: 3em 0 0 0;
    margin: 0;
  }

  .header--container {
    display: inline-block;
  }

  .header--image {
    position: static;
  }

  .header--image img {
    float: left;
    width: 300px;
    margin: 0 -2.5rem -5rem 0;
    transform: translate(-3rem, -5rem);
    min-height: 0px;
  }

  .header--image h1 {
    position: static;
    text-align: center;
    transform: translateY(-5rem);
    /* text-align: center; */
  }

  .header--card {
    background: var(--bg-color-1);
    margin: -3em 0 0 0;
  }

  .header--card h2 {
    text-align: center;
  }
}

/* - 320px — 480px: Mobile devices
- 481px — 768px: iPads, Tablets */